@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin-top: 0;
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
    color: black;
    display: flex;
    justify-content: center;
}

.main {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
}

/*******Palette de couleurs********/
:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: lightgrey;
    --dark-grey: dimgrey;
    --light-grey: #F2F2F2;
    --white: white;
}


a {
    color: inherit;
    text-decoration: none;
}

/********NAVBAR*******/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding: 32px;
}


.sub-nav {
    display: flex;
    margin-top: 0;
    display: flex;
}


.sub-nav li:hover {
    border-top: 3px solid var(--blue);
    color: var(--blue);
    padding-top: 29px;
}


#logo {
    padding: 20px;
    height: 19px;
}

/*******CHAMPS DE RECHERCHE******/

.titre_container {
    display: block;
    align-items: center;
    padding-left: 20px;
}

.titre-principal {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}

.titre-secondaire {
    font-size: 16px;
    font-weight: 400;
}


/***************** BAR DE RECHERCHE*****************/

form {
    display: flex;
    width: 100%;
    padding-left: 1%;
}

.search-form {
    display: flex;
}

.fa-location-dot {
    border: 1px transparent;
    padding: 16px;
    border-radius: 15px 0 0 15px;
    background-color: var(--light-grey);
}

form input {
    border: 1px solid var(--light-grey);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 16px;
}

form input::placeholder {
    color: black;
}

form h1 {
    font-size: 18px;
}

form button {
    border-radius: 0 15px 15px 0;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-weight: bold;
    padding: 15px 16px;
}

form button:hover {
    box-shadow: 1px 1px 10px var(--dark-grey);
}

/******Faire disparaitre la loupe *******/

.fa-magnifying-glass {
    display: none;
}


/************ LES FILTRES ************/

.filters {
    display: flex;
    padding-top: 18px;
    align-items: center;
    padding-left: 1%;
}

.filters h3 {
    margin-right: 20px;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

/**********Emplacement des Filtres***********/

.btn-filter p {
    margin: 0;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.btn-filter {
    font-weight: bold;
    border: 2px solid var(--light-grey);
    border-radius: 30px;
    border-left: none;
    margin-left: 10px;
}

.btn-filter:hover {
    background-color: var(--light-blue);
    box-shadow: 0 0 8px var(--dark-grey);
}

.btn-filter .fa-solid {
    background-color: var(--blue);
    border-radius: 25px;
}

.btn-filter .fa-person {
    padding: 14px 14px 14px 14px;
    margin-right: 10px;
    color: var(--blue);
    width: 22px;
    height: 22px;
}

.btn-filter .fa-heart,
.fa-dog,
.fa-money-bill-wave {
    padding: 14px 14px 14px 14px;
    margin-right: 10px;
    color: var(--blue);
    width: 22px;
    height: 22px;
}

/********* BARRE D'INFORMATION *************/

.icon-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 1%;
    color: var(--blue);
}

.search-icon {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 24px;
    height: 24px;
    background-color: var(--white);
    border: 1px solid #d9d9d9;
    border-radius: 100%;
}

.icon-info p {
    display: flex;
    color: black;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
}



/********** ARCTICLES **********/
.all-articles {
    display: flex;
    justify-content: space-between;
}

.all-articles div {
    border-color: var(--light-grey);
    border-radius: 20px;
}

.card-description {
    font-size: 16px;
    width: 343px;
}


.all-articles .hebergements {
    width: 63%;
    padding: 0px 40px;
}
.all-articles .populaires {
    width: 30%;
    padding: 0px 10px;
    box-sizing: border-box;
}

.star-blue {
    color: var(--blue);
}

.star-grey {
    color: var(--light-grey);
}

/************* LISTES DES HEBERGEMENTS A MARSEILLE ************/

.hebergements {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-grey);
    padding: 0 30px;
    box-sizing: border-box;
}


.hebergements a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.hebergements h3 {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
}

.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.card {
    background-color: var(--white);
    padding: 4px;
    box-shadow: 0 0 8px var(--dark-grey);
    transition-duration: 0.1s;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.card img {
    border-radius: 20px 20px 0 0;
    height: 124px;
    width: 100%;
    margin: 0;
    object-fit: cover;
}

.card-description h4 {
    font-weight: 700;
    font-size: 16px;
}

.card p,
.card h4 {
    margin: 5px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
}

.card .stars {
    margin-top: auto;
}

/************ LISTE DES POPULIARES ***********/

.populaires {
    flex-direction: column;
    background-color: var(--light-grey);
    display: flex;
}

.popular-list {
    display: flex;
    flex-direction: column;
}

.populaires h3 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.chart-line-blue {
    color: var(--blue);
    padding-right: 40px;
}

.populaires h4 {
    font-weight: 700;
    font-size: 16px;
}

.card-popular {
    display: flex;
    gap: 10px;
    border-radius: 20px;
    transition-duration: 0.1s;
    margin: 0 20px 20px 20px;
    padding: 5px;
    gap: 0px;
    background-color: var(--white);
    padding: 6px;
    margin-right: 42px;
    height: 144px;
}

.card-popular:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue); 
    border-radius: 20px;
}

.card-popular img {
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    height: 100%;
    min-width: 35%;
    width: 35%;
}

.card-description {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
}

.card-description p,
.card-description h4 {
    margin: 3px;
}

/************Activités sur Marseille***********/
.activites {
    display: flex;
    margin: 40px 10px 20px 10px;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 80px;
}

.activites-list {
    display: flex;
    justify-content: space-between;
}

.activites h3 {
    font-size: 22px;
    font-weight: 700;
}

.activites h4 {
    padding-left: 19px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.activity-card:hover {
    border-radius: 20px;
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 0 8px var(--blue);
    
}

.activity-card {
    width: 23%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    
    
}

/*****  volumes des cartes  *****/


.activity-card img {
    width:100%;
    object-fit: cover;
    height: 389px;
    border-radius: 20px 20px 0 0;
}


/*****  Couleurs des étoiles  *****/

.star-blue,
.star-grey {
    background-color: inherit;
}

.star-blue {
    color: var(--blue);
}

.star-grey {
    color: var(--grey);
}

/*---------  FOOTER  --------*/


footer {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--light-grey);
    padding-top: 45px;
    margin-top: 0px;
    padding-left: 70px;
    padding-bottom: 58px;
    margin-left: 0;
}

.footer-colonne {
    width: 30%;
}

footer a {
    text-decoration: none;
    color: black;
}

footer h4 {
    margin: 0 0 10px 0;
}

footer p {
    margin: 0;
    margin-bottom: 5px;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer li {
    margin-bottom: 12px;
}
 /***** Version Tablette *****/ 

@media (max-width:991.98px) {
 
 /***** Les Filtres *****/
 .filters h3 {
    margin-right: 0;
 }
 .btn-filter p {
    padding-right: 5px;
 }
 .btn-filter .fa-person {
    margin-right: 0;
 }
 .btn-filter .fa-heart, .fa-dog, .fa-money-bill-wave {
    margin-right: 0;
 }
    /***header***/
                 
 .all-articles { 
    display: flex;
    gap: 53px;
 }

.all-articles .hebergements {
    width: 100%;
}

 .main {
    flex-direction: column;
}



.all-articles{
    flex-direction: column;
}
.hebergements {
    width: 100%;
}
.all-articles .populaires {
    padding: 0 40px;
}
.populaires {
    display: flex;
    width: 100% !important;
    flex-direction: column;
}
.populaires h3 {
    padding: 0;
}

.popular-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 48px;
}
.chart-line-blue {
    padding-right: 0;
}
 /**** Activités à Marseille ****/

 .activites-list {
    display: flex;
}



.vertical-center {
    height: 56px;
    align-items: flex-end;
}

.card-popular {
    width: 31%;
    box-sizing: border-box;
    margin: 0;
}
.activity-card img {
    height: 211px;
}
}

/***** Version Mobile *****/

@media (max-width:767.98px) {
.main {
    padding: 0;
}    
nav {
    flex-direction: column;
}
nav ul li {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.sub-nav {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 0;
}

.sub-nav a {
    flex-basis: 50%;
    text-align: center;
    justify-content: center;
}

.sub-nav li {
    border-bottom: 3px solid;
    border-bottom-color: var(--light-grey);
}

.sub-nav li:hover {
    border-bottom-color: var(--blue);
    border-top: 0;
    padding-top: 32px;
}

 /******* Barre de recherche *****/
 .fa-magnifying-glass {
    display: inline;
    background-color: var(--blue);
    margin-left: -5px;
    font-size: 15px;
    padding: 0;
}

.search-form span {
    display: none;
}

form {
    padding: 0;
}

form input {
    width: inherit;
}
/***** Filtres *****/
.filters {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    flex-basis: content;
}

.filters h3 {
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.fa-solid.fa-info {
    min-width: 25px;
}
.filterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-filter {
    width: 48%;
    margin-bottom: 15px;
    margin-left: 0;
}
.btn-filter p {
    font-size: 14px;
}
/***** Hebergements *****/

.all-articles {

    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 0;
    gap: 0;
}
.all-articles .hebergements {
    padding: 0;
}
.hebergements {
    display: flex;
    background-color: var(--white);
}
.hebergements h3 {
    padding-left: 10px;
}
.card-hebergement {
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
}
.card {
    width: 100%;
    object-fit: cover;
}
.card img {
    object-fit: cover;
}
.afficherPlus {
    display: none;
}

/***** Les Populaires *****/

.all-articles .populaires {
    padding:0 20px ;
    border-radius: 0;
}
.populaires {
    display: flex;
    width: 375px;
}

.popular-list {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5%;

}

.card-popular {
    width: 100%;
    margin-bottom: 20px;
}
    /***** Activites à Marseille *****/
.activites {
    display: block;
    padding-top: 0;
    
}
.activity-card {
    margin-bottom: 24px;
    width: 100%;
}
.activites-list {
    display: block;
    align-items: flex-end;
}

.vertical-center {
    display: flex;
}


 /***** FOOTER *****/

 .footer-colonne {
    width: 100%;
}
.footer a {
   justify-content: space-between;
}
   
    

}